{% extends "base.html" %}
{% block title %} - About{% endblock %}
{% block og %}
    <meta property="og:title" content="David Jetelina - About me" />
    <meta property="og:url" content="https://www.djetelina.cz/about/" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="About David Jetelina" />
{% endblock %}
{% block content %}
    <span itemscope itemtype="http://schema.org/Person">
    <h1>About <span itemprop="givenName">David</span> <span itemprop="familyName">Jetelina</span></h1>
    <div class="col-sm-6">
    <h2>Career</h2>
    <p>
        I was born <span itemprop="birthDate" content="1992-07-31">31st of July 1992</span> in a small city called
        <span itemprop="birthPlace" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="addressLocality">Nový Jičín</span>, <span itemprop="addressCountry">Czech Republic</span>
        </span>.
        Since my father was a preacher, we moved a lot, so after 2 years in Nový Jičín 6 years in Vsetín we ended up in
        <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="addressLocality">Prague</span>, <span itemprop="addressCountry">Czech Republic</span>
        </span>.
        There, I finished elementary school
        and high school, <a href="http://panska.cz/" target="_blank">SPŠST Panská</a>, where I studied Audio and Video
        technology - technological and organizational focus (nicknamed production).
    </p>
    <p>
        After Maturita (A levels/SAT), I went to Faculty of Humanities (Charles University). After two months I decided,
        that I don't want to keep studying now - I wanted to work instead and I had the opportunities.
        Thanks to my high school and temp job at <a href="http://www.awrstudio.cz/" target="_blank">AWR Studio</a>
        I had enough experience in video editing to make a living and start working as a freelancer.
    </p>
    <p>
        Unfortunately, the job wasn't what I always hoped it would be. Some of the work was great, documentaries and
        other meaningful videos, but most of it was bad. The money was where advertising was. Product placement,
        teleshopping... I knew I had to get out, because lying to people is not what I'm good at. I despise it.
    </p>
    <p>
        For two years I was trying to make some money with simple website solutions using WordPress, while trying
        to battle my illness. I also decided that it was time for me to return back to studying. I got into Faculty
        of Education (also Charles University) where I started studying IT and English oriented at education. After
        two semesters, about to be 24, I know I want to quit school again. So right now, I'm job hunting.
    </p>
    </div>
    <div class="col-sm-6">
    <h2>Free time</h2>
    <p>
        I grew up playing computer games and tending to their communities. I moderated few internet forums,
        shoutcasted Dota AllStars in years 2009 and 2010 (before eSports became really big) and much more.
        Besides gaming, I loved immersing myself in different worlds and stories. My profile on
        <a href="https://trakt.tv/users/iscre4m" target="_blank">trakt.tv</a> confirms just that.
    </p>
    <p>
        I also fell in love with programming. It was only a matter of time before I did, as it always was all around me.
        I first wrote my first program in Pascal when I was about 10. After a very long break, I inherited a script for
        maintaining a sidebar in a gaming subreddit and thanks to little knowledge in Python, I was able to run it,
        improve it and keep it up to date while learning more and more about Python. Loving it, I learned how to
        run a simple IRC bot using Twisted framework. At the end of 2015 the real test came. I wanted for something
        to exist and I couldn't persuade anyone to program it. So I decided to lay down the basic stones in a simple
        script and then trick someone into writing the 'hard stuff'. To my surprise, after a sleepless night, I had
        a working prototype in front of me. Since then, I'm watching talks, trying to learn as much as I possibly can.
        I have never done something as fulfilling as programming. There's always something new to learn. There's a
        clear logic behind everything. Programming is like a puzzle. and I love solving puzzles.
    </p>
    </div>
    </span>
{% endblock %}