{% extends "base.html" %}
{% block title %} - Admin{% endblock %}
{% block content %}
<h1>Projects</h1>
<p><a class="btn btn-success btn-block" href="{{ url_for('add_project') }}">New</a></p>
    <div class="table-responsive">
      <table class="table table-striped">
         <thead>
            <tr>
               <th>Name</th>
               <th>Category</th>
               <th>URL</th>
               <th>Github</th>
               <th>Actions</th>
            </tr>
         </thead>

         <tbody>
            {% for project in projects %}
               <tr>
                   <td>{{ project.name }}</td>
                   <td>{{ project.category }}</td>
                   <td>{% if project.url != None %}{{ project.url}}{% endif %}</td>
                   <td>{% if project.github %}<a href="https://github.com/iScrE4m/{{ project.github }}"><i class="fa fa-github"></i></a>{% endif %}</td>
                   <td>
                       <div class="btn-group">
                           <a class="btn btn-success btn-xs" href="{{ url_for('project', project_name=project.slug) }}">View</a>
                           <a class="btn btn-info btn-xs" href="{{ url_for('edit', name=project.slug) }}">Edit</a>
                           <a class="btn btn-danger btn-xs" href="{{ url_for('delete', name=project.slug) }}">Delete</a>
                       </div>
                   </td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
    </div>
{% endblock %}