<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#">
<head>
<!--Code is more readable in Jinja templates, indentations that you see here look wrong because of that. -->
    {% block head %}
        <title>David Jetelina{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Personal website of David Jetelina">
        <meta name="keywords" content="portfolio, david, jetelina, djetelina, iscre4m">
        <meta name="author" content="David Jetelina">
        <meta charset="utf-8">

        {% block og %}{% endblock %}
        <meta property="og:site_name" content="DJetelina" />
        <meta property="og:locale" content="en_GB" />
        {% block ogimage %}<meta property="og:image" content="http://djetelina.cz{{ url_for('static', filename='i/og_me.png') }}" />{% endblock %}


        <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/slate_bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/font-awesome.min.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">
    {% endblock %}
</head>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;//noinspection CommaExpressionJS
        i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();//noinspection CommaExpressionJS
        a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-63584697-1', 'auto');
      ga('send', 'pageview');
</script>
<body>
{% block navbar %}
    <div class="navbar navbar-static-top navbar-default container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">David Jetelina</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li {% if request.path == '/' or request.path == '/home' %}class="active"{% endif %}>
                     <a href="{{ url_for('home') }}">Home</a>
                </li>
                <li {% if request.path == '/about' %}class="active"{% endif %}>
                     <a href="{{ url_for('about') }}">About me</a>
                </li>
                <li class="dropdown hidden-xs {% if request.path == '/projects' %}active{% endif %}">
                    <a href="{{ url_for('projects') }}" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">
                        Projects<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for category in g.categories %}
                            <li><a href="{{ url_for('category', category_name=category) }}">{{ category }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="dropdown visible-xs">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Projects<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('projects') }}">All</a></li>
                        {% for category in g.categories %}
                            <li><a href="{{ url_for('category', category_name=category) }}">{{ category }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% if 'logged_in' in session %}<li {% if request.path == '/admin' %}class="active"{% endif %}><a href="{{ url_for('admin') }}">Admin</a></li>{% endif %}
            </ul>
            {% block navbar_right %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="mailto:david@djetelina.cz" target="_blank"><i class="fa fa-envelope"></i></a></li>
                    <li><a href="https://www.facebook.com/djetelina" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/djetelina" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="https://linkedin.com/in/david-jetelina-893085aa" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/iscre4m/" target="_blank"><i class="fa fa-github"></i></a></li>
                    <li><a href="http://stackoverflow.com/users/5616110/iscre4m?tab=profile" target="_blank"><i class="fa fa-stack-overflow"></i></a></li>
                </ul>
            {% endblock %}
        </div><!--/.navbar-collapse -->
    </div>
{% endblock %}
<div class="container page">
    <div class="content container-fluid">
        {%- for category, message in get_flashed_messages(with_categories = true) %}
            <div class = "alert alert-danger">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message }}
            </div>
        {%- endfor %}
        {% block content %}
        {% endblock %}
    </div>
    <hr>
    {% block footer %}
        <footer class="footer">
            <p>&copy; David Jetelina - Built using Flask, Bootstrap and PostgreSQL</p>
        </footer>
    {% endblock %}
</div>
{% block js_footer %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
    <script type="text/javascript">
        window.cookieconsent_options = {"message":"This website uses cookies, like every other website.","dismiss":"Got it!","learnMore":"More info","link":null,"theme":"light-floating"};
    </script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script>
    <!-- End Cookie Consent plugin -->
{% endblock %}
</body>
</html>