{% extends "base.html" %}

{% block content %}
    <h1>Category: {{ name }}</h1>
      <table>
         <thead>
            <tr>
               <th>Name</th>
               <th>Github</th>
               <th>Info</th>
            </tr>
         </thead>

         <tbody>
            {% for project in category %}
               <tr>
                  <td>{{ project.name }}</td>
                  <td>{{ project.github }}</td>
                  <td>{{ project.info }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>

{% endblock %}