{% extends "base.html" %}
{% block title %} - Home{% endblock %}
{% block content %}
<h1>Projects</h1>
<p><a class="btn btn-success" href="{{ url_for('add_project') }}">New</a></p>
      <table class="table">
         <thead>
            <tr>
               <th>Name</th>
               <th>Category</th>
               <th>URL</th>
               <th>Github</th>
               <th>Info</th>
               <th>Actions</th>
            </tr>
         </thead>

         <tbody>
            {% for project in projects %}
               <tr>
                   <td>{{ project.name }}</td>
                   <td>{{ project.category }}</td>
                   <td>{{ project.url if project.url != None }}</td>
                   <td>{{ project.github if project.github != None }}</td>
                   <td>{{ project.info }}</td>
                   <td>
                       <div class="btn-group">
                           <a class="btn btn-info btn-xs" href="{{ url_for('edit', name=project.name) }}">Edit</a>
                           <a class="btn btn-danger btn-xs" href="{{ url_for('delete', name=project.name) }}">Delete</a>
                       </div>
                   </td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
{% endblock %}