{% extends "base.html" %}

{% block content %}
    <h1>Please login</h1>
    <form role="form" action="{{ request.path }}" method="post" data-toggle="validator">
        {{ form.csrf_token }}
        <div class="form-group has-feedback">
            {{ form.email.label(class="control-label") }}
            {{ form.email(class="form-control") }}
        </div>
        <div class="form-group has-feedback">
            {{ form.password.label(class="control-label") }}
            {{ form.password(class="form-control") }}
        </div>
        <div class="form-group has-feedback">
            {{ form.recaptcha }}
        </div>
        <button class="btn btn-default" type="submit">Login</button>
      </form>
{% endblock %}
{% block js_footer %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/validator.js') }}"></script>
{% endblock %}