{% extends "base.html" %}
{% block title %} - New{% endblock %}
{% block content %}
<h3>Add new project</h3>
      <hr/>

    <form role="form" action="{{ request.path }}" method="post">
        <div class="form-group">
            <label for="name">Name<br>
            <input class="form-control" type="text" name="name" placeholder="Name" /></label><br>
        </div>
        <div class="form-group">
            <label for="category">Category<br>
            <input class="form-control" type="text" name="category" placeholder="Programming" /></label><br>
        </div>
        <div class="form-group">
            <label for="github">Github<br>
            <input class="form-control" type="text" name="github" placeholder="Github of the project" /></label><br>
        </div>
        <div class="form-group">
            <label for="url">URL<br>
            <input class="form-control" type="text" name="url" placeholder="URL for final presentation" /></label><br>
        </div>
        <div class="form-group">
            <label for="info">Info<br>
            <textarea class="form-control" name="info" placeholder="About the project"></textarea></label><br>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
{% endblock %}