{% extends "base.html" %}
{% block title %} - New{% endblock %}
{% block content %}
<h3>Add new project</h3>
      <hr/>

      <form action = "{{ request.path }}" method = "post">
         <label for = "name">Name</label><br>
         <input type = "text" name = "name" placeholder = "Name" /><br>
         <label for = "category">Category</label><br>
         <input type = "text" name = "category" placeholder = "Category" /><br>
         <label for = "github">Github</label><br>
         <input type = "text" name = "github" placeholder = "Github" /><br>
         <label for = "addr">Info</label><br>
         <textarea name = "info" placeholder = "About the project"></textarea><br>
         <input type = "submit" value = "Submit" />
      </form>
{% endblock %}