{% extends "base.html" %}
{% block title %} - New project{% endblock %}
{% block content %}
<h3>Add new project</h3>
    <form role="form" action="{{ request.path }}" method="post" data-toggle="validator">
        {{ form.csrf_token }}
        <div class="form-group has-feedback col-sm-4">
            {{ form.name.label(class="control-label") }}
            {{ form.name(class="form-control") }}
        </div>
        <div class="form-group has-feedback col-sm-4">
            {{ form.slug.label(class="control-label") }}
            {{ form.slug(class="form-control") }}
        </div>
        <div class="form-group has-feedback col-sm-4">
            {{ form.category.label(class="control-label") }}
            {{ form.category(class="form-control") }}
        </div>
        <div class="form-group has-feedback col-sm-4">
            {{ form.status.label(class="control-label") }}
            {{ form.status(class="form-control") }}
        </div>
        <div class="form-group col-sm-4">
            {{ form.github.label(class="control-label") }}
            {{ form.github(class="form-control") }}
        </div>
        <div class="form-group col-sm-4">
            {{ form.url.label(class="control-label") }}
            {{ form.url(class="form-control") }}
        </div>
        <div class="form-group col-sm-6">
            {{ form.tags.label(class="control-label") }}
            {{ form.tags(class="form-control") }}
        </div>
        <div class="form-group has-feedback col-sm-12">
            {{ form.info.label(class="control-label") }}
            {{ form.info(class="form-control", rows="7") }}
        </div>

        <button type="submit" class="btn btn-default btn-block">Submit</button>
    </form>
{% endblock %}
{% block js_footer %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/validator.js') }}"></script>
{% endblock %}