{% extends "base.html" %}
{% block title %} - Seznam - Obědy{% endblock %}
{% block description %}Nebudu prolízat všechny weby!{% endblock %}
{% block og %}
    <meta property="og:type" content="website" />
{% endblock %}
{% set nonvege = ['kuře', 'vepř', 'hově', 'bologne', 'boloň', 'krůt', 'maso', 'masem', 'šunk',
'slanin', 'salám', 'ančo', 'pstruh'] %}
{% block content %}
    <h1>Denní menu</h1>
    {% for count, restaurant in enumerate(restaurants, 1) %}
        {% if count in list(range(1, 50, 2)) %}<div class="row">{% endif %}
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {{ restaurant.name }}
                </div>
                <div class="panel-body">
                    <table class="table table-stripped table-hover">
                        <thead>
                            <tr>
                                <th>Jídlo</th>
                                <th>Cena</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for meal in restaurant.meals %}
                                <tr {% for word in nonvege %}
                                        {% if word in meal.name.lower() %}
                                            style="background-color: darkgreen"
                                            {% break %}
                                        {% endif %}
                                    {% endfor %}>
                                    <td>{{ meal.name }}</td>
                                    <td>{{ meal.price }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% if count in list(range(2, 52, 2)) %}</div>{% endif %}
    {% endfor %}
    {% if len(restaurants) not in list(range(2, 52, 2)) %}</div>{% endif %}
{% endblock %}