{% extends "base.html" %}
{% block title %} - Pokemon - Pokedex{% endblock %}
{% block description %}I've collected some Pokemon, here they are!{% endblock %}
{% block og %}
    <meta property="og:type" content="website" />
{% endblock %}
{% block content %}
    <h1>Pokemon GO</h1>
    <div class="row">
        <div class="col-sm-3">
            <h3>Nickname</h3>
            <p>iScrE4m</p>
        </div>
        <div class="col-sm-3">
            <h3>Level</h3>
            <p>22</p>
        </div>
        <div class="col-sm-3">
            <h3>Team</h3>
            <p>Mystic (blue)</p>
        </div>
    </div>
    <h2>Pokedex</h2>
    <div class="progress">
        {% set percent = caught/151*100 %}
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ percent|int }}"
             aria-valuemin="0" aria-valuemax="100">
            {{ caught }} collected out of 151 ({{ percent|int }}%)
        </div>
    </div>
    {% for count, pokemon in enumerate(pokemons, 1) %}
        {% if count in list(range(1, 152, 6)) %}<div class="row">{% endif %}
        <div class="col-sm-2">
            <div class="panel {% if pokemon.collected %}panel-success{% else %}panel-danger{% endif %}">
                <div class="panel-heading">
                    {{ pokemon.name }}
                </div>
                <div class="panel-body">
                <img class="center-block img-responsive{% if not pokemon.collected %} desaturate{% endif %}" src="{{ pokemon.url }}" alt="{{ pokemon.name }}"/>
                {% if current_user.is_authenticated %}
                    {% if pokemon.collected %}
                        <a onclick="deletePokemon(this, '{{ pokemon.name }}')" class="btn btn-block btn-warning">Oops!</a>
                    {% else %}
                        <a onclick="catchPokemon(this, '{{ pokemon.name }}')" class="btn btn-block btn-success">Caught!</a>
                    {% endif %}
                {% endif %}
                </div>
            </div>
        </div>
        {% if count in list(range(6, 158, 6)) %}</div>{% endif %}
    {% endfor %}
    {% if len(pokemons) not in list(range(6, 158, 6)) %}</div>{% endif %}
{% endblock %}