{% extends "base.html" %}
{% block title %} - Projects{% endblock %}
{% block og %}
    <meta property="og:title" content="David Jetelina - {% if category %}{{ category }}{% endif %} Projects" />
    <meta property="og:url" content="https://www.djetelina.cz/projects/{% if category %}{{ category }}{% endif %}/" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Projects of David Jetelina{% if category %}, Category: {{ category }}{% endif %}" />
{% endblock %}
{% block content %}
    <h1>Projects {% if category %}<small>{{ category }}</small>{% endif %}</h1>
    <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="{{ url_for('home') }}">
                <span itemprop="name">Home</span>
            </a>
            <meta itemprop="position" content="1" />
        </li>
        {% if not category %}
            <li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <span itemscope itemtype="http://schema.org/Thing" itemprop="item">
                    <span itemprop="name">Projects</span>
                </span>
                    <meta itemprop="position" content="2" />
            </li>
        {% else %}
            <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="{{ url_for('projects') }}">
                    <span itemprop="name">Projects</span>
                </a>
                <meta itemprop="position" content="2" />
            </li>
            <li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <span itemscope itemtype="http://schema.org/Thing" itemprop="item">
                    <span itemprop="name">{{ category }}</span>
                </span>
                <meta itemprop="position" content="3" />
            </li>
        {% endif %}
    </ol>
    {% for count, project in enumerate(projects, 1) %}
        {% if count in list(range(1,15, 3)) %}<div class="row">{% endif %}
        <div class="col-sm-4">
            <h2>{{ project.name }}</h2>
            <p>
                {{ project.info[:300] }}...
            </p>
            <p>
                <a class="btn btn-success btn-block" href="{{ url_for('project', project_name=project.slug) }}">
                    Read more
                    <i class="fa fa-arrow-right"></i>
                </a>
            </p>
        </div>
        {% if count in list(range(3,18, 3)) %}</div>{% endif %}
    {% endfor %}
    {% if len(projects) not in list(range(3,18, 3)) %}</div>{% endif %}
{% endblock %}