{% extends "base.html" %}
{% block title %} - {{ project.name }}{% endblock %}
{% block content %}
    {% if project.url %}
        <a href="{{ project.url }}" target="_blank" class="btn btn-success pull-right">Visit site</a>
    {% endif %}
    {% if project.github %}
        <a href="{{ project.github }}" target="_blank" class="btn btn-success pull-right">View on GitHub</a>
    {% endif %}
    {% if 'logged_in' in session %}
        <a href="{{ url_for('edit', name=project.name) }}" class="btn btn-success pull-right">Edit</a>
    {% endif %}
    <h1>{{ project.name }} <small>{{ project.category }}</small></h1>
    <h2>About {{ project.name }}</h2>
    <p>{% filter markdown %}{{ project.info }}{% endfilter %}</p>
{% endblock %}