{% extends "base.html" %}
{% block title %} - {{ project.name }}{% endblock %}
{% block og %}
    <meta property="og:title" content="David Jetelina - Project: {{ project.name }}" />
    <meta property="og:url" content="https://www.djetelina.cz/project/{{ project.slug }}/" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="{{ project.info[:150] }}..." />
    <meta property="article:published_time" content="{{ project.created }}" />
    <meta property="article:modified_time" content="{{ project.modified }}" />
    <meta property="article:author" content="https://www.facebook.com/djetelina" />
    <meta property="article:section" content="{{ project.category }}">
{% endblock %}
{% block content %}
    {% if project.url %}
        <a href="{{ project.url }}" target="_blank" class="btn btn-success pull-right">Visit site</a>
    {% endif %}
    {% if project.github %}
        <a href="{{ project.github }}" target="_blank" class="btn btn-success pull-right">View on GitHub</a>
    {% endif %}
    {% if 'logged_in' in session %}
        <a href="{{ url_for('edit', name=project.slug) }}" class="btn btn-success pull-right">Edit</a>
    {% endif %}
    <h1>{{ project.name }} <small>{{ project.category }}</small></h1>
    <ol class="breadcrumb">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('projects') }}">Projects</a></li>
        <li><a href="{{ url_for('projects', category_name=project.category) }}">{{ project.category }}</a></li>
        <li class="active">{{ project.name }}</li>
    </ol>
    <h2>About {{ project.name }}</h2>
    <p>{% filter markdown %}{{ project.info }}{% endfilter %}</p>
{% endblock %}