{% extends "base.html" %}
{% block title %} - Projects{% endblock %}
{% block og %}
    <meta property="og:title" content="David Jetelina - {% if category %}{{ category }}{% endif %} Projects" />
    <meta property="og:url" content="https://www.djetelina.cz/projects/{% if category %}{{ category }}{% endif %}/" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Projects of David Jetelina{% if category %}, Category: {{ category }}{% endif %}" />
{% endblock %}
{% block content %}
    <h1>Projects {% if category %}<small>{{ category }}</small>{% endif %}</h1>
    <ol class="breadcrumb">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        {% if not category %}
            <li class="active">Projects</li>
        {% else %}
            <li><a href="{{ url_for('projects') }}">Projects</a></li>
            <li class="active">{{ category }}</li>
        {% endif %}
    </ol>
    {% for project in projects %}
        <div class="col-sm-4">
            <h2>{{ project.name }}</h2>
            <p>
                {{ project.info[:300] }}...
            </p>
            <p>
                <a class="btn btn-success btn-block" href="{{ url_for('project', project_name=project.slug) }}">
                    Read more
                    <i class="fa fa-arrow-right"></i>
                </a>
            </p>
        </div>
    {% endfor %}
{% endblock %}